{% extends 'base.html.twig' %}

{% block title %}LBExclusiveCars - Ajout Vehicule{% endblock %}

{% block body %}
	<h1 class="text-4xl text-center font-medium mx-2 my-4">Ajout Véhicule</h1>
	{% include 'vehicule/_form.html.twig' with {'button_label': 'Ajouter'} %}
{% endblock %}
