<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
		<title>
			{% block title %}LBExclusiveCars
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% if app.request.attributes.get('_route') != 'app_accueil'%}
			{% include "base/navbar.html.twig" %}
		{% endif %}
		{% block body %}{% endblock %}
		{# Fin div  #}
        </div>
	<script>

	{# Cacher le menu mobile lors du chargement de la page #}

	$(function () {
		$('#mobile-menu').css('display', 'none');
	});

	{# Afficher le menu mobile #}

	$('#ButtonMenu').click(function () {
		if ($('#mobile-menu').css('display') == 'none') {
			$('#mobile-menu').css('display', 'block');
			$('#mobile-menu').css('display', 'block');
		} else {
			$('#mobile-menu').css('display', 'none');
		}

	});

	{# Afficher le menu profil #}
	$('#profil-button').click(function () {
		if ($('#profil-menu').css('display') == 'none') {
			$('#profil-menu').css('display', 'block');
		} else {
			$('#profil-menu').css('display', 'none');
		}
	});
	</script>
	
	</body>
</html>
